In [6]:
import pyodbc
import pymysql
import mysql.connector
import pandas as pd

cnx = mysql.connector.connect(user='gaurav', password='S@njose1990',
                              host='localhost',
                              database='sakila')

df = pd.read_sql_query(" select  * from actor ", cnx)
print(df)
#cnx.close()

     actor_id first_name     last_name         last_update
0           1   PENELOPE       GUINESS 2006-02-15 04:34:33
1           2       NICK      WAHLBERG 2006-02-15 04:34:33
2           3         ED         CHASE 2006-02-15 04:34:33
3           4   JENNIFER         DAVIS 2006-02-15 04:34:33
4           5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33
..        ...        ...           ...                 ...
195       196       BELA        WALKEN 2006-02-15 04:34:33
196       197      REESE          WEST 2006-02-15 04:34:33
197       198       MARY        KEITEL 2006-02-15 04:34:33
198       199      JULIA       FAWCETT 2006-02-15 04:34:33
199       200      THORA        TEMPLE 2006-02-15 04:34:33

[200 rows x 4 columns]

In [10]:
# cursor object 
mycursor = cnx.cursor()

stmt = "INSERT INTO actor (first_name, last_name, last_update) VALUES (%s, %s,%s)"

val = ("TONY", "STARK","2023-03-01 04:34:33")
 
 
# excute command
mycursor.execute(stmt, val)

cnx.commit()
 
 
#print row inserted
print(mycursor.rowcount, "record inserted.\n")
 
mycursor.execute("SELECT * FROM actor  order by actor_id desc limit 1")

result = mycursor.fetchall()
 
print("Iron Man RIP\n")

print(result)

1 record inserted.

Iron Man RIP

[(203, 'TONY', 'STARK', datetime.datetime(2023, 3, 1, 4, 34, 33))]